[submodule "mounts/modules/MMM-Todoist"]
	path = mounts/modules/MMM-Todoist
	url = https://github.com/cbrooker/MMM-Todoist.git
[submodule "mounts/modules/MMM-CalendarExt2"]
	path = mounts/modules/MMM-CalendarExt2
	url = https://github.com/MMM-CalendarExt2/MMM-CalendarExt2.git
[submodule "mounts/modules/MMM-RandomPhoto"]
	path = mounts/modules/MMM-RandomPhoto
	url = https://github.com/skuethe/MMM-RandomPhoto.git
[submodule "mounts/modules/MMM-wiki"]
	path = mounts/modules/MMM-wiki
	url = https://github.com/mihairinzis/MMM-wiki
[submodule "mounts/modules/MMM-ImageSlideshow"]
	path = mounts/modules/MMM-ImageSlideshow
	url = https://github.com/AdamMoses-GitHub/MMM-ImageSlideshow.git
[submodule "mounts/modules/MMM-Random-local-image"]
	path = mounts/modules/MMM-Random-local-image
	url = https://github.com/miccl/MMM-Random-local-image.git
[submodule "mounts/modules/MMM-AirNow"]
	path = mounts/modules/MMM-AirNow
	url = https://github.com/nigel-daniels/MMM-AirNow.git
[submodule "mounts/modules/MMM-ImagesPhotos"]
	path = mounts/modules/MMM-ImagesPhotos
	url = https://github.com/roramirez/MMM-ImagesPhotos.git
[submodule "mounts/modules/MMM-ModuleScheduler"]
	path = mounts/modules/MMM-ModuleScheduler
	url = https://github.com/ianperrin/MMM-ModuleScheduler.git
[submodule "mounts/modules/MMM-AccuWeatherForecastDeluxe"]
	path = mounts/modules/MMM-AccuWeatherForecastDeluxe
	url = https://github.com/BigBot89/MMM-AccuWeatherForecastDeluxe
