/* MagicMirror² Custom CSS
 *
 * Change color and fonts here.
 *
 * Beware that properties cannot be unitless, so for example write '--gap-body: 0px;' instead of just '--gap-body: 0;'
 *
 */

/* Uncomment and adjust accordingly if you want to import another font from the google-fonts-api: */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap'); */

:root {
    --color-text: rgb(188, 204, 255);
    --color-text-dimmed: rgb(153, 167, 213);
    --color-text-bright: rgb(213, 221, 248);
    --color-background: black;
  
    --font-primary: "Roboto Condensed";
    --font-secondary: "Roboto";
    
    --font-size: 30px;
    --font-size-small: 0.75rem;
  
    --gap-body-top: 60px;
    --gap-body-right: 60px;
    --gap-body-bottom: 60px;
    --gap-body-left: 60px;
    
    --gap-modules: 30px;

  }

  .region {
    width:33%;
  }
  
  /* Weather */

  [class*=weathericon][class*="sun"] { color: #ffff00; }
  [class*=weathericon][class*="rain"] { color: lightskyblue; }
  [class*=weathericon][class*="showers"] { color: lightskyblue; }
  [class*=weathericon][class*="sprinkle"] { color: lightskyblue; }
  [class*=weathericon][class*="haze"] { color: darkkhaki; }
  [class*=weathericon][class*="smog"] { color: darkkhaki; }
  [class*=weathericon][class*="smoke"] { color: darkkhaki; }
  [class*=weathericon][class*="sleet"] { color: #fff; }
  [class*=weathericon][class*="snow"] { color: #fff; }
  [class*=weathericon][class*="cloud"] { color: lightgrey; }



  /* Todoist */ 
  .MMM-Todoist .title {
    padding-left: 1.5em;
    text-indent: -1.5em;
    max-width: 100%;
  }
  
  /* stop mmm-todoist from infecting my calendar */
  .today {
    text-decoration: none #03a05c;
  }

  .tomorrow {
    text-decoration: none #166cec;
  }

  /* don't rememeber what this is */ 
  .divTableCell.title::before{ 
    content:" ☐ ";
  }

  /* Highlight rules (used on imminent/important things) */
  .highlight .small {    
    --font-size-small: 1.15rem;
    font-weight: 300
  }

  .calendar .time {    
    font-size: .75rem;
  }

